<mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
<div class="quizzes-container d-flex fd-column jc-center gap-16">

  <ng-container *ngIf="(quizzes$ | async) as quizzes; else loadingQuizzes">
    <div class="d-flex fd-column gap-24  quizzes-actions-wrapper">
      <button class="action-button primary-button" matRipple (click)="createQuiz()">
        <div class="plus-icon action-icon icon-16"></div>
        <p>Create new quiz</p>
      </button>
      
      <div class="input-wrapper" [class.focused-input-wrapper]="isSearchInFocus" *ngIf="quizzes.length">
        <div class="icon-20 search-icon prefix"></div>
        <input type="text" placeholder="Search for quiz" [(ngModel)]="searchValue"
        (focus)="isSearchInFocus=true" (blur)="isSearchInFocus=false">
      </div>
    </div>

    <ng-container *ngIf="quizzes.length else noQuizzesContainer">
      <ul *ngIf="(quizzes | filterByKey : searchValue : 'name').length else noSearchResults">
        <li *ngFor="let quiz of (quizzes | filterByKey : searchValue : 'name')" (click)="updateQuiz(quiz)">
          <div class="d-flex jc-between gap-12">
            <div class="d-flex fd-column gap-4">
              <h2>{{quiz.name}}</h2>
              <p class="secondary-text">{{quiz.questions?.length}}
                {{quiz.questions?.length > 1 ? 'questions' : 'question'}}</p>
            </div>
            <div class="d-flex jc-center ai-center gap-12">
              <div class="primary-icon play-icon icon-16" (click)="$event.stopPropagation(); playQuiz(quiz._id)"></div>
              <div class="danger-icon trash-icon icon-16" (click)="$event.stopPropagation(); deleteQuiz(quiz)"></div>
            </div>
          </div>
        </li>
      </ul>
      <ng-template #noSearchResults>
        <p class="ta-center">There are no results for search <strong>"{{searchValue}}"</strong></p>
      </ng-template>
    </ng-container>

    <ng-template #noQuizzesContainer>
      <div class="d-flex fd-column ai-center gap-4">
        <h2>There are no quizzes created</h2>
        <p class="neutral-text">Create one</p>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loadingQuizzes>
      <div class="d-flex fd-column gap-24  quizzes-actions-wrapper ">
        <button class="loading-block" matRipple></button>
        <div class="input-wrapper loading-block">
          <div class="icon-20 search-icon prefix"></div>
        </div>
      </div>
    <ul>
      <li *ngFor="let quiz of skeletonLoaderData">
        <div class="d-flex jc-between gap-12">
          <div class="d-flex fd-column gap-4">
            <h2 class="loading-block">{{quiz.title}}</h2>
            <p class="secondary-text loading-block">questions: xx</p>
          </div>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
