.quizzes-container {
  padding: 0 24px 40px;
  max-width: 680px;
  margin: auto;
}

ul {
  width: 100%;
  align-self: center;
  flex: 1;
}

.quizzes-actions-wrapper {
  padding-top: 32px;
  padding-bottom: 8px;

  position: sticky;
  top: 72px;
  background: var(--main-background);
  z-index: 10;
  box-sizing: content-box;
  width: calc(100% + 2px) !important;
  margin-left: -1px;
}
