<div class="d-flex jc-center ai-center h-100vh">
    <mat-card [class.top-to-bottom]='isClosed'>
      <mat-card-content>
        <div class="primary-icon x-in-circle-icon icon-20" (click)="closeDialog()"></div>
        <div class="d-flex fd-column gap-32">
          <h2 class='ta-center dialog-title' [ngSwitch]="injectedData.CRUD">
            <ng-container *ngSwitchCase="CRUD.CREATE">
              Create Task
            </ng-container>
            <ng-container *ngSwitchCase="CRUD.UPDATE">
              Edit Task
            </ng-container>
          </h2>
  
          <div class="textarea-wrapper" [class.focused-input-wrapper]="isQstnInFocus">
            <textarea class="textarea" matInput cdkTextareaAutosize matInput minlength="1" required
              placeholder="Task question" [(ngModel)]="task.question" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"
              (focus)="isQstnInFocus=true" (blur)="isQstnInFocus=false">
            </textarea>
          </div>

          <div class="textarea-wrapper" [class.focused-input-wrapper]="isAnswerInFocus">
            <textarea class="textarea" matInput cdkTextareaAutosize matInput minlength="1" required
              placeholder="Task answer" [(ngModel)]="task.answer" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"
              (focus)="isAnswerInFocus=true" (blur)="isAnswerInFocus=false">
            </textarea>
          </div>
  
  
          <ng-container *ngIf="injectedData.CRUD === CRUD.CREATE else updateTaskBtn">
            <button class="action-button primary-button" matRipple (click)="createTask()" [disabled]="!isSaveEnabled()">
              <p>Create task</p>
            </button>
          </ng-container>
          <ng-template #updateTaskBtn>
            <button class="action-button primary-button" matRipple (click)="updateTask()" [disabled]="!isSaveEnabled()">
              <p>Save changes</p>
            </button>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="dialog-background" [class.opake-to-transparent-bkg]="isClosed" (click)="closeDialog()">
  </div>
  