<div class="d-flex jc-center ai-center h-100vh">
  <mat-card [class.top-to-bottom]='isClosed'>
    <mat-card-content>
      <div class="primary-icon x-in-circle-icon icon-20" (click)="closeDialog()"></div>
      <div class="d-flex fd-column gap-32">
        <h2 class='ta-center dialog-title' [ngSwitch]="injectedData.CRUD">
          <ng-container *ngSwitchCase="CRUD.CREATE">
            Create Quiz
          </ng-container>
          <ng-container *ngSwitchCase="CRUD.UPDATE">
            Edit Quiz
          </ng-container>
        </h2>

        <div class="textarea-wrapper" [class.focused-input-wrapper]="isTextareaInFocus">
          <textarea class="textarea" matInput cdkTextareaAutosize matInput minlength="1" required
            placeholder="Quiz name" [(ngModel)]="quiz.name" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
            (focus)="isTextareaInFocus=true" (blur)="isTextareaInFocus=false">
          </textarea>
        </div>

        <div class="input-wrapper" [class.focused-input-wrapper]="isSearchInFocus">
          <div class="icon-20 search-icon prefix"></div>
          <input type="text" placeholder="Search for question" #searchQuestion
            (focus)="isSearchInFocus=true; showDropdown = true" (clickOutside)="showDropdown = false"
            (blur)="isSearchInFocus=false" [(ngModel)]="searchQuestionsInput">
          <ng-container *ngIf="(questions$ | async) as questions">
            <div class="dropdown-list-wrapper" [class.show-dropdown-list]="showDropdown">
              <ul class="dropdown-list" *ngIf="questions.length else noResults">
                <ng-container *ngFor="let q of questions">
                  <li class="truncate-text" *ngIf="q?._id" (click)="$event.stopPropagation()">
                    <div class="d-flex ai-center jc-between">
                      <div class="d-flex fd-column gap-4">
                        <h3>{{q.question}}</h3>
                        <p>{{q.answer}}</p>
                      </div>

                      <ng-container *ngIf="checkIsQuestionAdded(q._id) else AddedBtn">
                        <button class="action-button secondary-stroked-button circle-button" matRipple (click)="addQuestionIntoQuiz(q)">
                          <div class="plus-icon action-icon icon-16"></div>
                        </button>
                      </ng-container>
                      <ng-template #AddedBtn>
                        <div class="action-button action-button-sm secondary-button">
                          <span>Added</span>
                        </div>
                      </ng-template>
                      
                    </div>
                  </li>
                </ng-container>
              </ul>
              <ng-template #noResults>
                <p class="p-16">No results for <strong>{{searchQuestionsInput}}</strong></p>
              </ng-template>
              
            </div>
          </ng-container>
        </div>

        <ul *ngIf="quiz.questions?.length">
          <li *ngFor="let item of quiz.questions">
            <div class="d-flex jc-between gap-12">
              <div class="d-flex fd-column gap-4">
                <h2>{{item.question}}</h2>
                <p class="secondary-text">{{item.answer}}</p>
              </div>
              <div class="d-flex jc-center ai-center gap-12">
                <div class="primary-icon play-icon icon-16"></div>
                <div class="danger-icon trash-icon icon-16"></div>
              </div>
            </div>
          </li>
        </ul>

        <ng-container *ngIf="injectedData.CRUD === CRUD.CREATE else updateQuizBtn">
          <button class="action-button primary-button" matRipple (click)="createQuiz()"
            [disabled]="checkIsCreateDisabled()">
            <p>Create quiz</p>
          </button>
        </ng-container>
        <ng-template #updateQuizBtn>
          <button class="action-button primary-button" matRipple (click)="closeDialog()" [disabled]="">
            <p>Save changes</p>
          </button>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="dialog-background" [class.opake-to-transparent-bkg]="isClosed" (click)="closeDialog()">
</div>
