@import url('~src/styles/dialog.scss');

.mat-mdc-card {
  flex: 1;
  max-width: 800px;
}


.mat-mdc-card-content,
.mat-mdc-card-content:first-of-type {
  padding-top: 16px;
}

.quiz-name.input-wrapper {
  height: fit-content;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--primary-0);

  input {
    font-size: 24px;
    padding: 2px;
  }
}

.input-wrapper.focused-input-wrapper {
  border-bottom: 2px solid var(--primary-3);
}
