@import url('~src/styles/dialog.scss');

.mat-mdc-card {
  flex: 1;
  max-width: 800px;
}


.mat-mdc-card-content,
.mat-mdc-card-content:first-of-type {
  padding-top: 16px;
}


.input-wrapper:not(.focused-input-wrapper) {
  border-color: var(--primary-3);

  .search-icon {
    background-color: var(--primary-0);
  }

  input::placeholder {
    color: var(--primary-0);
    font-weight: 400;
  }
}


.circle-button {
  .plus-icon {
    background: var(--secondary-4)
  }
  &:hover {
    background: var(--secondary-3);
    .plus-icon {
      background: var(--primary-0)
    }
  }
}


.questions-wrapper {
  height: 42vh;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
    background-color: var(--primary-0);

  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--primary-3);
  }
  ::-webkit-scrollbar-track {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 100vh;
    background-color: var(--primary-0);
  }
}

ul {
  background: rgba(0,0,0,0.12);
}