.action-button {
  color: var(--primary-1);
  background: var(--main-background);
  border-radius: 4px;
  text-decoration: none;
  border: none;
  outline: none;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  position: relative;
  flex-grow: 1;

  p,
  span {
    cursor: pointer;
    align-self: unset;
    font-weight: 600;
    font-size: 16px;
  }

  font-weight: 600;
  padding: 0 12px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all ease .3s;
  min-height: 40px;
}

.action-button:disabled,
.action-button[disabled] {
  cursor: default;

  .action-icon,
  p,
  span {
    cursor: default;
  }
}


.primary-button {
  border: none;
  background: var(--primary-3);
  color: var(--main-background);

  &:hover {
    color: var(--main-background);
    background: var(--primary-4);
  }
}


.primary-button:disabled,
.primary-button[disabled] {
  background-color: var(--primary-0);
}



.primary-stroked-button {
  border: 1px solid var(--primary-3);
  background-color: transparent;
  color: var(--primary-3);

  &:hover {
    color: var(--main-background);
    background: var(--primary-4);
  }

  &.primary-selected-button {
    color: var(--main-background);
    background-color: var(--primary-3);
  }
}

.primary-stroked-button:disabled, .primary-stroked-button[disabled] {
  background-color: var(--main-background);
  color: var(--primary-1);
  border: 1px solid var(--primary-1);
}

.action-button.loading-block {
  background: linear-gradient(90deg, #1F2937 0%, #60a3bc 50%, #1F2937 100%);
  animation: placeholder-shimmer 2s linear infinite;
}

button.loading-block {
  border-radius: 4px;
  text-decoration: none;
  border: none;
  outline: none;
  min-height: 40px;
}