@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.ta-center {
  text-align: center;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.mat-body,
p, .mat-body p, .mat-body-1 p, .mat-typography p,
h1, .mat-body-1, .mat-typography, .mat-h1, .mat-headline, .mat-typography h1,
h2, .mat-h2, .mat-title, .mat-typography h2, .mat-subheading-2,
h3, .mat-h3, .mat-typography h3 {
  margin: 0;
}

span {
  font-size: 10px;
  line-height: 16px;
}


h1,
.mat-h1,
.mat-h1,
.mat-headline,
.mat-typography h1 {
  font-size: 32px;
  line-height: 48px;
}

h2,
.mat-h2,
.mat-title,
.mat-typography h2 {
  font-size: 24px;
  line-height: 36px;
}

h3,
.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

h4,
.mat-h4,
.mat-subheading-1,
.mat-typography .mat-h4,
.mat-typography .mat-subheading-1,
.mat-typography h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: var(--goods-white);
  margin: 0;
}

.mat-body p.p-sm, .mat-body span.p-sm,
.mat-body-1 p.p-sm, .mat-body span.p-sm,
.mat-typography p.p-sm, .mat-typography span.p-sm {
  font-size: 12px;
  line-height: 18px;
}
