.icon-responsive {
  cursor: pointer;
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}


.icon-16 {
  cursor: pointer;
  width: 16px;
  min-width: 16px;
  height: 16px;
  position: relative;
  margin: 0;
}

.icon-20 {
  cursor: pointer;
  width: 20px;
  min-width: 20px;
  height: 20px;
  position: relative;
  margin: 0;
}

.icon-24 {
  cursor: pointer;
  width: 24px;
  min-width: 24px;
  height: 24px;
  position: relative;
  margin: 0;
}

.icon-32 {
  cursor: pointer;
  width: 32px;
  min-width: 32px;
  height: 32px;
  position: relative;
  margin: 0;
}

.icon-40 {
  cursor: pointer;
  width: 40px;
  min-width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
}

.icon-64 {
  cursor: pointer;
  width: 64px;
  min-width: 64px;
  height: 64px;
  position: relative;
  margin: 0;
}

.primary-icon {
  background: var(--primary-3);
  &:hover {
    background: var(--primary-4);
  }
}

.white-icon {
  background-color: var(--white);
}

.danger-icon {
  background: var(--danger-3);
  &:hover {
    background: var(--danger-4);
  }
}

.action-icon {
  background: var(--main-background);
}

.disabled-icon {
  background: var(--neutral-4);
  cursor: default;
  pointer-events: none;
}


.quiz-icon {
  -webkit-mask: url('~src/assets/images/svg/quiz-icon.svg') no-repeat;
  mask: url('~src/assets/images/svg/quiz-icon.svg') no-repeat;
}

.play-icon {
  -webkit-mask: url('~src/assets/images/svg/play-icon.svg') no-repeat;
  mask: url('~src/assets/images/svg/play-icon.svg') no-repeat;
}

.pencil-icon {
  -webkit-mask: url('~src/assets/images/svg/pencil-icon.svg') no-repeat;
  mask: url('~src/assets/images/svg/pencil-icon.svg') no-repeat;
}

.trash-icon {
  -webkit-mask: url('~src/assets/images/svg/trash-icon.svg') no-repeat;
  mask: url('~src/assets/images/svg/trash-icon.svg') no-repeat;
}

.plus-icon {
  -webkit-mask: url('~src/assets/images/svg/plus-icon.svg') no-repeat;
  mask: url('~src/assets/images/svg/plus-icon.svg') no-repeat;
}

.search-icon {
  -webkit-mask: url('~src/assets/images/svg/search-icon.svg') no-repeat;
  mask: url('~src/assets/images/svg/search-icon.svg') no-repeat;
}

.x-in-circle-icon {
  -webkit-mask: url('~src/assets/images/svg/x-in-circle-icon.svg') no-repeat;
  mask: url('~src/assets/images/svg/x-in-circle-icon.svg') no-repeat;
}
