ul {
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary-2);
    border-radius: 4px;
    overflow: hidden;
}

li {
  list-style: none;
  transition: all ease .3s;
  cursor: pointer;
  padding: 8px 16px;
  .primary-icon, .danger-icon {
    visibility: hidden;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--primary-2);
  }
  &:hover {
    background: var(--primary-2);
    .primary-icon, .danger-icon {
        visibility: visible;
    }
    .secondary-text {
        color: var(--secondary-text-3);
    }
  }
}


.dropdown-list-wrapper {
  position: absolute;
  top: 48px;
  left: 0px;
  width: 100%;
  z-index: 5;
  transition: all .2s ease;
  background: var(--main-background);
  border: 1px solid var(--primary-3);
  border-radius: 4px;
  max-height: 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  overflow: overlay;
  visibility: collapse;

  &::-webkit-scrollbar-track {
    margin-top: 54px;
  }
}

.show-dropdown-list {
  max-height: 246px;
  visibility: visible;
}


ul.dropdown-list {
  left: 0;
  list-style: none;
  padding: 0;
  background: var(--main-background);

  li {
    padding: 8px 16px;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background: var(--primary-3);
    }
  }

  li.selected-option {
    background-color: #f4f4f4;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}