.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: var(--primary-3);
}

.mat-mdc-progress-bar {
  position: absolute !important;
  z-index: 100;
}

.mat-mdc-dialog-surface, .mdc-dialog__surface {
  background: transparent !important;
}

.cdk-global-scrollblock {
  top: 0 !important
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  text-align: center;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background: var(--primary-2) !important;
  border: 1px solid var(--primary-3)
}
