.pr-4 {
    padding-right: 4px !important;
  }
  
  .pl-4 {
    padding-left: 4px !important;
  }
  
  .p-4 {
    padding: 4px !important;
  }
  
  .p-8 {
    padding: 8px;
  }
  .p-16 {
    padding: 16px;
  }

  
  .p-rl-24 {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
  
  .p-16-0 {
    padding: 24px 0 16px 0;
  }
  
  .p-rl-32 {
    padding-right: 32px !important;
    padding-left: 32px !important;
  }
  
  .pb-40 {
    padding-bottom: 40px !important;
  }