<router-outlet></router-outlet>



<!-- <ng-container *ngIf="(questions$ | async) as questions; else loadingTasks">

  <div *ngFor="let question of questions">
      {{question.question}} : {{question.answer}}
  </div>

  <ng-container *ngFor="let quiz of quizes$ | async">
    <pre>{{quiz | json}}</pre>
  </ng-container>
  
  <button (click)="createQuiz()">Create quiz</button>
  <button (click)="deleteQuiz()">Delete quiz</button>
  <button (click)="updateQuiz()">Update quiz</button>
  <br>
  <button (click)="insertTaskIntoQuiz()">Insert question into quiz</button>
  <button (click)="removeTaskFromQuiz()">Remove question from quiz</button>
  <br>
  <button (click)="deleteTask()">Delete question</button>
</ng-container>
<ng-template #loadingTasks>
  loading..
</ng-template> -->
