.answer-container {
    max-height: 0;
    overflow: hidden;
    transition: .8s all ease .6s;
}

.visible-answer-container {
    max-height: 100vh;
}

.wrapper {
    max-width: 720px;
}

.collapsed-button {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
}