<div class="d-flex fd-column ai-center jc-center h-min-100vh w-100 gap-24 ">
  <div class="d-flex ai-center jc-center gap-24 header">
    <div class="white-icon quiz-text-icon icon-64"></div>
    <h1 *ngIf="isPlaying" class="secondary-text">{{quiz.name}}</h1>
  </div>

  <ng-container *ngIf="quiz">
    <div class="d-flex fd-column jc-center ai-center f-grow-1 w-100 gap-32">
      <ng-container *ngIf="!isPlaying else taskContainer">
        <div class="d-flex fd-column ai-center jc-center">
          <h1>{{quiz.name}}</h1>
          <h4 class="secondary-text">This quiz has {{quiz.questions.length}}
            {{quiz.questions.length > 1 ?'questions': 'question'}}</h4>
        </div>
        <button class="action-button primary-button" matRipple (click)="playQuiz()" [disabled]="!quiz.questions.length">
          <p>Play quiz</p>
        </button>
      </ng-container>

      <ng-template #taskContainer>
        <ng-container *ngFor="let task of quiz.questions; let i = index">
          <app-task [task]="task" *ngIf="currentIndex === i">
          </app-task>
        </ng-container>
      </ng-template>
    </div>

    <div class="action-button-wrapper" *ngIf="isPlaying">
      <button (click)="onPrevBtn()" [disabled]="isPrevDisabled()" class="action-button primary-stroked-button"
        matRipple>
        <p>Prev</p>
      </button>
      <button (click)="onNextBtn()" [disabled]="isNextDisabled()" class="action-button primary-button" matRipple>
        <p>Next</p>
      </button>
    </div>
  </ng-container>
  <ng-template #somethingWentWrong>
    <h2 class="ta-center">Something went wrong...</h2>
    <p class="secondary-text">Incorrect quiz link or link is not valid.</p>
  </ng-template>
  
</div>
